.product-datails-container {
    padding: 10px;
    font-size: 24px;
}

.product-datails-card {
    padding: 10px;
}

.goback-container {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.goback-container svg {
    margin-left: 5px;
    color: #407BFF;
    transform: rotate(-180deg);

}

.goback-container h2 {
    margin-left: 15px;
    letter-spacing: normal;
    font-size: 1em;
    color: #263238;
    text-transform: uppercase;

}

.img-container {
    padding: 10px;
    border: 1px solid #E1E1E1;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.img-container img {
    width: 80%;
}

.name-price-container {
    margin-bottom: 20px;
}
.name-price-container h1{
    font-size: 1.1em;
    color: #263238;
    letter-spacing: -0.015em;
}

.description-container {
    padding: 10px;
    border: 1px solid #E1E1E1;
    border-radius: 20px;
}

.description-container h2{
    color: #9E9E9E;
    letter-spacing: -0.015em;
    font-size: 0.8em;
    margin-bottom: 20px;
}

.description-container p{
    color: #9E9E9E;
    letter-spacing: -0.015em;
    font-size: 0.6em;

}

@media (min-width: 576px) {
    .product-datails-container {
        padding: 20px;
        font-size: 32px;
    }
    .product-datails-card {
        padding: 20px;
    }
}

@media (min-width: 992px) {

    .product-datails-container {
        padding: 40px;

    }
    .product-datails-card {
        padding: 40px;
    }

    .img-container img {
        width: 50%;
    }

    .description-container {
        padding: 40px;

    }

    .name-price-container{
        display: flex;
        justify-content: space-between;
    }


}

@media (min-width: 1200px) {

    .img-container img {
        height: 280px;
        width: auto;
    }

    .name-price-container{
        display: block;

    }
    .description-container {
       min-width: 302px;

    }

}

@media (min-width: 1200px) {
    .img-container img {
        height: 480px;
        width: auto;
    }

    .description-container {
        min-width: 502px;

    }
}